:root {
  /* Typography */
  --font-family: "Spartan", sans-serif;
  --h2-heading-font-size: 21px;
  --h3-heading-font-size: 18px;
  --body-font-size: 15px;
  --default-line-height: 1.4;
  --font-weight-default: 500;
  --font-weight-bold: 700;
  
  /* Colors */
  --color-white: hsl(255, 100%, 100%);
  --color-primary: hsl(180, 29%, 50%);
  --color-neutral: hsl(180, 52%, 96%);
  --color-neutral-dark: hsl(180, 8%, 52%);
  --color-neutral-extra-dark: hsl(180, 14%, 20%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-default);
  background-color: var(--color-neutral);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}

#jobs-list {
  margin: 3rem;
}

.job-listing {
  font-size: 15px;
  margin-bottom: 1.5rem;
  background-color: var(--color-white);
  border-radius: 7px;
  box-shadow: 3px 3px 8px hsl(180, 29%, 70%);
  transition: all .2s;
  border-left: 6px solid transparent;
}

.job-listing:hover,
.job-listing:active {
  border-left: 6px solid var(--color-primary);
}

.col {
    display: inline-block;
    padding: 1rem;
  }
  
  .row {
    text-align: left;
  }
  
  .top-row {
      display: flex;
    /*   justify-content: flex-start; */
    /*   flex-direction: row; */
      align-items: center;
  }
  
  .company-item {
    display: inline-block;
    padding: 0.4rem 0.8rem .1rem;
    margin: 0.5rem .25rem;
    border-radius: 20px;
  }
  
  .company-item:first-child {
    color: var(--color-primary);
    padding: 0.5rem .25rem;
    margin-left: 0;
  }
  
  #company-name {
    background-color: transparent;
  }
  
  #new {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
  }
  
  #featured {
    background-color: var(--color-neutral-extra-dark);
    color: var(--color-white);
    text-transform: uppercase;
  }
  
  .job-title {
    color: var(--color-neutral-extra-dark);
    transition: all .2s;
  }

  .job-title:hover {
    color: var(--color-primary);
  }
  
  .job-info {
    display: inline-block;
    padding: 0.25rem 0.8rem;
    margin: 0.5rem .25rem;
    border-radius: 20px;
    color: var(--color-neutral-dark);
    background-color: transparent;
  }
  
  .job-info:first-child {
    padding-left: 0;
    margin-left: 0;
  }
  
  .dot {
    content: "\2022";
    display: inline-block;
    padding: 3px;
    margin: 0.125rem 0.25rem;
    border-radius: 4px;
    background-color: var(--color-neutral-dark);
  }
  
  .tag {
    display: inline-block;
    padding: 0.25rem 0.8rem;
    margin: 0.25rem;
    color: var(--color-primary);
    background-color: var(--color-neutral);
    border-radius: 4px;
    transition: all .2s;
  }

  .tag:hover {
    color: var(--color-neutral);
    background-color: var(--color-primary);
  }